<% if @book.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@book.errors.count, "error") %>
      cannot save due to:
    </h2>

    <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @book, local: true do |f|%>
    <%=f.label :title%>
    <%=f.text_field :title%>
    <%=f.label :description%>
    <%=f.text_area :description%>
    <%=f.submit%>
<%end%>